<html>
<head>
    <title>When's My Turn?</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<head>
<body>
    <header>
        <h1>When's My Turn in <%=game.replaceAll('_',' ')%>?</h1>
        <nav>
            <a href="/">Home</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="/api">API</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Data from </span><a href="https://www.dustloop.com/w/">Dustloop</a>
        </nav>

    <span>I'm </span>
    <select>
    <% for(let character of characters) { %>
        <% character = character.split('_').join(' ') %>
        <option><%=character%></option>
    <% } %>
    </select>
    <span> vs. </span>
    <select>
    <% for(let character of characters) { %>
        <% character = character.split('_').join(' ') %>
        <option><%=character%></option>
    <% } %>
    </select>
    <a id="charSelect" href="<%=`/matchup/${game}/${characters[0]}/${characters[0]}`%>"><button>When's my turn?</button></a>

    </header>

</body>
</html>
